@use "../../General_styles/variables" as *;

.MainPage__img {
    background-size: cover;
    min-height: 10vh;
    position: relative;
    @media (max-width: 768px) {
        background-position: center;
        min-height: 70vh;   
        
    }
    
}

  

.MainPage__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; // Cambia el color según tu diseño
    text-align: center;
}

h1 {
    font-size: 2rem; // Ajusta el tamaño del texto según sea necesario
    margin: 0;
}
